<form novalidate (submit)="submit()" [formGroup]="form">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" class="form-control" [formControlName]="'firstName'">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" class="form-control" [formControlName]="'lastName'">
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" id="address" class="form-control" [formControlName]="'address'">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" [formControlName]="'email'">
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" id="productName" class="form-control" [formControlName]="'productName'">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label for="productQuantity">Product Quantity</label>
        <input type="number" id="productQuantity" class="form-control" [formControlName]="'productQuantity'">
      </div>
    </div>
  </div>

  <footer>
    <button class="btn btn-primary">Submit</button>
  </footer>

</form>